*.retry
*~
*.swp
*.swo
muff*
CONTENT/*.retry
CONTENT/downloads/*
CONTENT/data/ansible-ssh-key
CONTENT/data/ansible-ssh-key.pub
CONTENT/data/authorized_keys
CONTENT/data/tower_license*
CONTENT/ansible-files/myvars.yml
CONTENT/ansible-files/tower-license.*
ansible-tower-setup*

